html,body {
    margin: 0;
    overflow-x: hidden; 
    width: 100%;
}
main{
    min-height:calc(100vh - 48px - 70px);
}


/* Header */
.header {
    height: 47px;
    padding: 0 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navLink{
    text-decoration: none;
    color:#212529;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navList .leftSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navList .rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.blogTitle {
    font-weight: 500;
}

a.mainPage {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
a.createPostButtonhidden{
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
a.createPostButtonhidden:hover {
    color: #383838;
    font-weight: bold;
}
a.mainPage:hover {
    color: #383838;
    font-weight: bold;
}
.loginButton{
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
.loginButton:hover{
    color: #383838;
    font-weight: bold;
}

    /* DropDown menu */
    .dropdown {
        position: relative;
    }

    .dropdownButton {
        background: none;
        border: 0px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 100;
        min-width: 150px;
    }

    .dropdownMenu li {
        padding: 10px;
        text-align: left;
    }

    .dropdownMenu li button {
        background: none;
        border: none;
        padding: 0;
        width: 100%;
        text-align: left;
        font-size: 14px;
        cursor: pointer;
    }

    .dropdownMenu li button:hover {
        background-color: #f4f4f4;
    }

    .hidden {
        display: none;
    }

    .dropdownMenu.show {
        display: block;
    }


/* Footer */

.footer{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #F8F9FA;
}
.footer p {
    padding-left: 5%;
    color: #8C8D99;
}



/* Auth Form */

.authFormContainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.authFormContainer .loginForm {
    min-width: 320px;
    max-width: 480px;
    padding: 20px;
    box-sizing: border-box;
    background:#FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.authFormContainer h2{
    margin-bottom: 20px;
}
.authFormContainer label{
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
.authFormContainer input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.authFormContainer .btnEnter {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.authFormContainer .btnEnter:hover {
    background-color: #0056b3;
}

.authFormContainer .btnReg {
    width: 95%;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


/* Reg Form */

.registrationFormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.registrationFormContainer .regForm {
    min-width: 320px;
    max-width: 480px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9ecef;
}

.registrationFormContainer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #212529;
}

.registrationFormContainer label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #495057;
    text-align: left;
    display: block;
}

.registrationFormContainer input,
.registrationFormContainer select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

.registrationFormContainer input:focus,
.registrationFormContainer select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.registrationFormContainer small {
    display: block;
    margin-top: -10px; 
    margin-bottom: 15px;
    font-size: 14px;
    color: #6c757d;
}

.registrationFormContainer .btnReg {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registrationFormContainer .btnReg:hover {
    background-color: #0056b3;
}

/* Profile form */
.profileFormContainer {
    max-width: 720px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px; 
    border: 1px solid #e9ecef;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profileForm label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.profileForm input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.profileForm select{
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.saveButtonContainer{
    text-align: right;
}

.saveButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.saveButton:hover {
    background-color: #0056b3;
}


/* Main Page */

.pageWrapper{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.createPostButtonContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.createPostButton {   
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
}
.createPostButton:hover {
    color: #0056b3;
    font-weight: bold;
}

.createPostButton.hidden {

    display: none;
}


.mainContainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

.filtersContainer {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    
}

.filtersContainer p {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.filterNaming{
    width:100% ;
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: left;
}

.filterLogicContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filterLogicContainer label {
    font-size: 14px;
    margin-right: 10px;
}

.filterLogicContainer input,
.filterLogicContainer select,
.filterLogicContainer button {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.filterLogicContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filterLogicContainer button:hover {
    background-color: #0056b3;
}


.searchLogicContainer {
    width: 100%; 
    display: flex;
    gap: 20px; 
    padding: 15px;
    align-items: flex-start; 
    flex-wrap: wrap;
}

.authorSearch{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.authorSearchContainer,
.tagSearchContainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 5px; 
}


.authorSearchContainer input{
    width: 100%;
}

.authorSearchContainer input,
.tagSearchContainer select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; 
    box-sizing: border-box; 
}
.tagSearchContainer select{
    max-height: 65px;
}

.searchLogicContainer2 {
    width: 100%;
    display: flex; 
    gap: 15px; 
    padding: 10px;
    justify-content: flex-end; 
    align-items: center; 
    box-sizing: border-box; 
    flex-wrap: wrap;
}

.filterColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 ; 
    max-width: 100%; 
}

.checkboxContainer {
    display: flex;
    align-items: center; 
    flex: 0;
}
.checkboxContainer input{
    margin:0;
}
.checkboxContainer label{
    white-space: nowrap;
    margin:0;
}

.filterColumn input{
    max-width: 200px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end; 
    flex: 0; 
}

#paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}

.pageLink {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pageLink:hover {
    background-color: #e6f0ff;
    color: #0056b3;
    border-color: #007bff;
}

.currentPage {
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    pointer-events: none;
}

.paginationDots {
    padding: 8px 12px;
    font-size: 14px;
    color: #888;
    pointer-events: none;
}

.pageLink[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: #f5f5f5;
    color: #aaa;
    border-color: #ddd;
}


#postsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.postCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.postHeader {
    margin-bottom: 10px;
}
.postHeader a{
    text-decoration: none;
}

.authorInfo {
    font-size: 12px;
    color: #777;
}

.postTitle {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 10px;
    color: #333;
}

.postContent{
    word-wrap: break-word;
}

.postSeparator {
    border: none;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

.postDescription {
    word-wrap: break-word;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.postTags {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.postReadingTime {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsButton {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.commentsButton:hover {
    color: #007bff;
}

.fa-comment {
    font-size: 16px;
}

.likeContainer {
    display: flex;
    align-items: center;
}

.likeCount {
    margin-right: 5px;
    font-size: 14px;
    color: #333;
}

.likeButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.likeButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.likeButton:hover {
    transform: scale(1.2);
}

.descriptionContainer {
    margin-bottom: 10px;
}

.showMoreButton {
    display: inline-block;
    margin-top: 10px;
    background: none;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    padding: 0; 
    text-align: left; 
}

.showMoreButton:hover {
    text-decoration: none;
    color: #0056b3; 
}

.showMoreButton:focus {
    outline: none; 
}


/* Communities Page */
#communitiesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.communityCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.communityTitle {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #182241;
    margin-right: 15px;
}

.subscribeButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribeButton:hover {
    background-color: #0056b3;
}

.unsubscribeButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.unsubscribeButton:hover {
    background-color: #b02a37;
}

.closedButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

.disabledButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
}


/* Concrete Community Page*/
.communityTitleContainer {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.headerSection h2 {
    margin: 0;
    font-size: 24px;
}


.actionButtons button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.writePostButton {
    background-color: #007bff;
}
.unsubscribeButton {
    background-color: #dc3545;
}

.infoSection {
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}
.infoSection i.icon-users {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
}
.communityType {
    font-weight: bold;
}

.adminsSection {
    margin-top: 15px;
}
.adminsSection h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}
.adminList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.adminCard {
    display: flex;
    align-items: center;
    gap: 10px;
}
.adminCard .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.maleAvatar {
    background-color: #007bff; 
}
.femaleAvatar {
    background-color: #ff69b4; 
}
.adminCard span {
    font-size: 14px;
    color: #333;
}
/**/
.communityFilterContainer {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;

}

.communityFilterContainer p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.communityFilterLogicContainer {
    display: flex;
    padding:10px;
    gap:15px; 
}

.dateFilterContainer,
.tagFilterContainer {
    flex: 1; 
    min-width: 200px; 
}

.dateFilterContainer label,
.tagFilterContainer label {
    display: block; 
    font-size: 14px;
    margin-bottom: 5px;
}

.dateFilterContainer select,
.tagFilterContainer select {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.communityButtonContainer{
    padding:5px 10px 5px;
    display: flex;
    justify-content: flex-end;
}

#communityApplyFiltersButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#communityApplyFiltersButton:hover {
    background-color: #0056b3;
}

#communityApplyFiltersButton:focus {
    outline: none;
    box-shadow: 0 0 3px #007bff;
}

/**/



/* Authors Page*/
.authorsListContainer {
    margin: 20px auto;
    max-width: 800px;
}

.authorCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.authorInfo {
    display: flex;
    align-items: center;
    
}

.authorAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.authorDetails {
    font-size: 14px;
    
}

.authorStats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.statsItem {
    margin-top: 5px;
    padding: 5px 10px;
    display: inline-block; 
    background-color: #1380f4; 
    color: #333; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: default; 
    text-align: center;
}

.authorNameLink {
    color: #333; 
    text-decoration: none; 
    cursor: pointer;
}


.avatarWrapper {
    position: relative;
    display: inline-block;
}

.authorAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.crown {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.crown::after {
    content: "👑";
    font-size: 16px;
    line-height: 16px;
    color: white;
}

/* Create Post page*/
.createPostContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.createPostContainer .createForm {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createPostContainer h1 {
    margin-bottom: 20px;
}

.createPostContainer label {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    display: block;
}

.createPostContainer input,
.createPostContainer select,
.createPostContainer textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.createPostContainer textarea {
    resize: none;
    height: 100px;
}

.createPostContainer .btnSubmit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.createPostContainer .btnSubmit:hover {
    background-color: #0056b3;
}

.address-suggestions {
    max-height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    padding: 0; 
    margin-top: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: absolute; 
    z-index: 1000; 
    list-style: none; 
}

.address-suggestions li {
    padding: 8px 12px; 
    cursor: pointer; 
    font-size: 14px; 
}

.address-suggestions li:hover {
    background-color: #f0f0f0; 
}

/* Detailed Post Page*/

.detailedPostCard {
    width: 100%; 
    max-width: 75%; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.commentsContainer {
    max-width: 75%; 
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.commentCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
}

.createCommentContainer {
    margin-top: 20px;
}

.replyButton,
.editButton,
.deleteButton,
.toggleRepliesButton {
    margin-right: 5px;
    font-size: 0.85em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #007bff;
}

.replyButton:hover,
.editButton:hover,
.deleteButton:hover,
.toggleRepliesButton:hover {
    text-decoration: underline;
}

.repliesContainer {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.hidden {
    display: none;
}

.replyTextArea {
    width: 98%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.replySubmitButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.replySubmitButton:hover {
    background-color: #0056b3;
}
.geoContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #555;
    font-size: 0.9em;
}

.geoContainer i {
    margin-right: 5px;
    color: #007bff;
}
